section.clients
  .container-block
    h2 Нам доверяют
    .clients__list
      .clients__list-img
        img(src="./images/clients/1.svg")
      .clients__list-img
        img(src="./images/clients/2.svg")
      .clients__list-img
        img(src="./images/clients/3.svg")
      .clients__list-img
        img(src="./images/clients/4.svg")
      .clients__list-img
        img(src="./images/clients/5.svg")
      .clients__list-img
        img(src="./images/clients/6.svg")
      .clients__list-img
        img(src="./images/clients/7.svg")
      .clients__list-img
        img(src="./images/clients/8.svg")
      .clients__list-img
        img(src="./images/clients/9.svg")
      .clients__list-img
        img(src="./images/clients/10.svg")
