section.contacts
  .contacts__container
    .contacts__top
      .contacts__text
        h2 Контакты
        div.contacts__text-block Всегда успешная сдача котельных надзорным органам. Еженедельный фотоотчет по вашему заказу.
      a.contacts__link(href="#") Перейти в раздел
  .contacts__container.contacts__container--second
    a.contacts__mobile-link(href="#")
      .contacts__link Перейти в раздел
    .contacts__map
    .contacts__data
      .contacts__mail
        img(src="./images/email.svg")
      .contacts__address г. Пермь, ул.Хлебозаводская, д. 22, корпус 5
      a(href="tel:73422159225") +7 (342) 215-92-25
      .contacts__work-time Пн - Пт: 08:00 - 18:00
      .contacts__email
        a(href="mailto:info@t-stroy.com")
          .contacts__mail
            img(src="./images/email2.svg")
        a(href="mailto:info@t-stroy.com") info@t-stroy.com
      button.yellow-btn Написать сообщение





