section.contacts-form
  .contacts-form__bg-icon
    <svg width="166" height="546" viewBox="0 0 166 546" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M82.7126 213.881C33.0693 318.865 33.0693 440.569 82.7116 545.554C132.354 440.569 132.355 318.866 82.7126 213.881Z" fill="#ECECEC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M82.7135 136.28C132.653 211.134 155.735 300.71 148.19 390.378C185.526 256.992 161.527 113.906 82.7116 0C3.89706 113.905 -20.1022 256.991 17.2338 390.378C9.68872 300.71 32.7713 211.133 82.713 136.28H82.7135Z" fill="#ECECEC"/>
    </svg>

  .maxwidth-theme
    .contacts-form__wrapper
      form.contacts-form__block
        h2 Оставьте заявку
        label.contacts-form__label Ваше имя:
          input
        label.contacts-form__label Телефон:
          input(id="phone").phone
        label.contacts-form__label.contacts-form__label--checkbox(for="checkbox-contact") Я согласен на обработку персональных данных
          input(type="checkbox" id="checkbox-contact").contacts-form__checkbox
        button(type="submit").yellow-btn Отправить

      .contacts-form__img
        img(src="./images/img-form.jpg")

