section.description
  .container-block
    p Инновационная конструкция геометрии топки котла и конвективного блока, расположенного снизу, позволили уменьшить ширину котла, а также существенно снизить его вес. В ходе разработки были проведены анализ конструкции в расчётно-графической программной среде, а также стендовые испытания на производственной базе, что позволило максимально точно выполнить соответствие рабочих характеристик котла проектируемым.
    .description__cards
      ul
        li Повышенная устойчивость к накипеобразованию
        li До 40 % вес меньше, чем у аналогов
        li До 30 % ширина меньше, чем у аналогов

        li Каскадное управление
        li Дистанционный мониторинг работы котла

        li Фирменный блок управления котлом
        li Любые виды горелок и топлива (газ, дизель)
        li Линейка мощностей котлов Riman STARK – от 0,5 МВт до 10 МВт.

