section.quote
  .maxwidth-theme
    .flexbox
      .maxwidth-theme__left
        .quote__bg
          p На протяжении долгих лет мы являемся единственным производителем водотрубных водогрейных котлов марки RIMAN собственной конструкторской разработки и производства. Котлы RIMAN Stark отличаются высокой экономичностью, эффективностью, надежностью, устойчивостью к образованию накипи и удобны в российских условиях эксплуатации.
          .quote__author Главный конструктор Ю. М. Гнедочкин
          .quote__img
            img(src="./images/quote-author.png")
      .maxwidth-theme__right
