doctype html
html(lang="en")

head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title Document

body
	include ../components/description.pug
include ../components/quote.pug
include ../components/clients.pug
include ../components/contacts.pug
include ../components/contacts-form.pug
