.clients{
  margin-bottom: 101px;
  h2{
    margin: 0 0 51px 0;
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 65px;
  }
  &__list-img{
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1279px) {
  .clients{
    margin-bottom: 60px;
    h2{
      margin-bottom: 40px;
    }
    &__list{
      grid-column-gap: inherit;
      grid-row-gap: 10px;
    }
    &__list-img{
      width: 105px;
      height: 91px;
      img{
        transform: scale(0.6);
      }
    }
  }
}

@media (max-width: 700px) {
  .clients{
    margin-bottom: 40px;
    h2{
      margin-bottom: 30px;
    }
    &__list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-column-gap: 30px;
      grid-row-gap: 0;
    }
    &__list-img{
      width: 55px;
      height: 50px;
      img{
        transform: scale(0.31);
      }
    }
  }
}
