.contacts{
  background-color:#F8F8F8;
  padding: 74px 0;
  position: relative;
  a{
    color: #000000;
  }
  &__mobile-link{
    display: none;
  }
  &__text{
    margin-right: 8px;
  }
  &__text-block{
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
  }
  &__link{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
    position: relative;
    height: 23px;
    transition: opacity 0.3s;
    margin-top: 14px;
    &:hover{
      opacity: 0.3;
    }
    &:after{
      content: "";
      width: 4.3px;
      height: 8px;
      position: absolute;
      right: -16px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/arrow.svg");
      top: 50%;
      transform: translateY(-2.5px);
    }
  }
  &__top{
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
    margin-bottom: 63px;
  }
  h2{
    margin: 0 0 12px 0;
  }
  &__data{
    width: 249px;
    padding-bottom: 276px;
    margin-left: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    a{
      text-decoration: none;
      transition: opacity 0.2s;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  &__map-block{
    display: flex;
  }
  &__map{
    height: 597px;
    background-color: gray;
    margin-left: -200%;
    margin-right: 63px;
    width: 279%;
  }
  &__email{
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 25px;
    .contacts__mail{
      margin-right: 16px;
    }
  }
  &__address{
    margin: 23px 0 0 0;
  }
  &__work-time{
    margin: 28px 0;
  }
  &__data-wrapper{
    display: flex;
  }
}

@media (max-width: 1279px) {
  .contacts{
    padding: 50px 0;
    h2{
      margin-bottom: 7px;
    }
    &__top{
      display: grid;
      grid-template-columns: 550px auto;
      margin-bottom: 43px;
    }
    &__map{
      margin-right: 40px;
    }
  }
}

@media (max-width: 779px) {
  .contacts{
    padding: 40px 0;
    &__link{
      display: none;
    }
    &__data{
      padding-bottom: 0;
    }
    h2{
      margin-bottom: 11px;

    }
    &__map{
      position: relative;
      width: 100%;
      height: 530px;
      margin-top: 50px;
    }
    &__data{
      margin: 0;
      width: 100%;
      height: auto;
    }
    &__top{
      margin-bottom: 34px;
      grid-template-columns: 1fr;
      margin-right: 0;
    }
    &__text-block{
      font-size: 16px;
      line-height: 20px;
    }
    &__mobile-link{
      display: flex;
      justify-content: center;
      border: 1px solid #FFDD00;
      border-radius: 3px;
      padding: 17px 0 16px;
      box-sizing: border-box;
      text-decoration: none;
      margin-top: 30px;
      transition: background-color 0.2s;
      &:hover{
        background-color: #FFDD00;
      }
      .contacts__link{
        display: inline;
        margin: 0;
        pointer-events: none;
      }
    }
    &__data-wrapper{
      display: flex;
      flex-direction: column-reverse;
    }
    &__map{
      margin: 40px 0 0 0;
    }
  }
}
